@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: $secondaryFontColor;
}

.flex{
    display: flex;
}

.m-auto{
    margin: auto;
}